.advert{
    width: 100%;
    display: flex;
    float: left;
    margin-left: 16px;
    background-color: bisque;

    

    .advert-img{
        width: 64px;
        height: 68px;
    }

    .advert-content{
        width: 189px;
        height: 72px;
        display: flex;
        flex-direction: column;

        h2{
            font-size: 12px;
            font-weight: 400;
            margin: 10px 0 0 0;
        }

        p {
            font-size: 10px;
            font-weight: 400;
            margin: 0;
        }
    }
}


.advert-content-footer{
    color: white;
}